<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        .personal-info,
        .job-related-info {
            width: 50%;
            float: left;
        }
        .employee-name {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Employee Details</h1>
    <h2><span class="employee-name" th:text="${employee.name}"></span></h2>
    <div class="personal-info">
        <h2>Personal Information</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>User ID:</strong> <span th:text="${employee.userid}"></span>
            </li>
            <li class="list-group-item">
                <strong>Email:</strong> <span th:text="${employee.email_id}"></span>
            </li>
            <li class="list-group-item">
                <strong>Phone Number:</strong> <span th:text="${employee.userPhone}"></span>
            </li>
            <li class="list-group-item">
                <strong>Address:</strong> <span th:text="${employee.address}"></span>
            </li>
            <li class="list-group-item">
                <strong>Date of Birth:</strong> <span th:text="${employee.dob}"></span>
            </li>
        </ul>
    </div>
    <div class="job-related-info">
        <h2>Job-Related Information</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Position:</strong> <span th:text="${employee.position}"></span>
            </li>
            <li class="list-group-item">
                <strong>Date of Joining:</strong> <span th:text="${employee.date_of_joining}"></span>
            </li>
            <li class="list-group-item">
                <strong>Department:</strong> <span th:text="${employee.department}"></span>
            </li>
        </ul>
    </div>
    <div style="clear: both;"></div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <a th:href="@{/shownewleaveform}" class="btn btn-primary">Leave Application</a>
        </div>
        <div class="col-auto">
            <a th:href="@{/showSalaryDetails/{username}(username=${employee.name})}" class="btn btn-warning">View Salary</a>
        </div>
        <div class="col-auto">
            <a th:href="@{'/empviewattendance/' + ${employee.userid}}" class="btn btn-success">Check Attendance</a>
        </div>

        <div class="col-auto">
            <a th:href="@{/empviewfeedback}" class="btn btn-secondary">Feedback</a>
        </div>

        <div class = "col-auto">
            <a class="btn btn-danger" href="/logout" role="button">Log Out</a>
        </div>
    </div>
</div>
</body>
</html>
