<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEE MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
            padding-top: 50px;
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>

<body>

<div class="container">
    <h1>EMPLOYEE PAYROLL</h1>
    <br>
    <hr>
    <br>
    <h3>EMPLOYEES LIST</h3>
    <br>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Employee User Id</th>
            <th>Employee Name</th>
            <th>Employee Position</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listEmployees}">
            <td th:text="${employee.userId}"></td>
            <td th:text="${employee.username}"></td>
            <td th:text="${employee.position}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/showPayrollDetails/{username}(username=${employee.username})}" class="btn btn-success btn-sm">View Salary</a>
                    <span>&nbsp;</span>
                    <a th:href="@{/showNewEmployeeForm/{username}(username=${employee.username})}" class="btn btn-primary btn-sm">Add Salary</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>

